@import "tailwindcss";

@layer utilities {
  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/bebas-neue.woff2') format('woff2'),
      url('./assets/fonts/bebas-neue.woff') format('woff');
  }

  @theme {
    --font-primary: 'Bebas Neue', sans-serif;
  }

  .animate-modal-in {
    animation: modal-in 0.3s ease-out forwards;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}